.title {
    font-family: "Brandon";
    color: #e8e7e4;
    font-size: 29px;
    margin: auto 0;
    padding-left: 5px;
    letter-spacing: 1.3px;
}

.bar-title {
    background: url("../assets/border_top.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1260px;
    height: 130px;
    position: relative;
    margin: auto;
}

.bar-mid {
    background: url("../assets/border_mid.png");
    width: 1260px;
    height: auto;
    position: relative;
    margin: auto;
}

.bar-bottom {
    background: url("../assets/bot_border.png");
    width: 1260px;
    height: 95px;
    position: relative;
    margin: auto;
}

.inside {
    margin-left: 60px;
}

.bar-mid-top {
    background: url("../assets/up_middle.png");
    width: 1260px;
    height: 62px;
    position: relative;
    margin: auto;
}

.decimal-text {
    background: url("../assets/texte_decimal.png");
    width: 19px;
    height: 509px;
    margin-top: 26px;
    padding-right: 10px;
}

.profile-name {
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    font-family: "LouisGeorge";
}

.profile-status {
    color: #504f4f;
    font-size: 19px;
    font-weight: 700;
    font-family: "LouisGeorge";  
}

.bar-title2 {
    background: url("../assets/border_title.png");
    width: 1260px;
    height: 59px;
    position: relative;
    margin: auto;
}

.text-title {
    color: #d4c5a8;
    font-size: 28px;
    font-family: "Brandon";
    padding-left: 68px;
    padding-top: 10px;
    height: auto;
    margin: auto 0;
    width: fit-content;
}

.text-paragraph {
    color: #fff;
    font-size: 19px;
    font-family: "LouisGeorge";
    padding-left: 68px;
    padding-top: 10px;
    padding-right: 68px;
    height: auto;
    margin: auto 0;
    width: fit-content;
    line-height: 1.4;
}

.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto auto auto 65px;
    padding-top: 53px;
}

p {
    margin-block-end: unset;
    margin-block-start: unset;
    margin-inline-end: unset;
    margin-inline-start: unset;
}
.container-main {
    background: url("../assets/big_img1.png");
    margin: auto;
    width: 1202px;
    height: 780px;
    position: relative;
}

.container-main2 {
    background: url("../assets/big_img2.png");
    margin: auto;
    width: 1202px;
    height: 780px;
    position: relative;
}

.container-main3 {
    background: url("../assets/big_img3.png");
    margin: auto;
    width: 1202px;
    height: 780px;
    position: relative;
}

.container-left {
    background: url("../assets/left_big_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 29px;
    height: 780px;
    position: relative;
}
.container-right {
    background: url("../assets/right_big_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 29px;
    height: 780px;
    position: relative;
}

.text-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 150px 100px;
    font-family: "Eveleth";
    margin: 0!important;
    line-height: 1;
}



.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 670ms;
    --organic-arrow-thickness: 6px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 20px;
    --organic-arrow-color: #cf5b2c;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #f46b34;
    --control-bullet-active-color: #cf5b2c;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    --slider-transition-duration: 575ms;
    --organic-arrow-border-radius: 0;
    --control-bullet-color: #6a6a6a;
    --control-bullet-active-color: #6a6a6a;
    --content-background-color: #2f2f2f;
}

.awssld__content {
    height: auto!important;
    width: auto!important;
}

.awssld {
    width: 1202px!important;
    --organic-arrow-color: #ffffff!important;
    --organic-arrow-height: 20px!important;
    --control-button-opacity: 0.2!important;
}

.awssld__bullets {
    display: none!important;
}

.awssld__timer {
    background-color: transparent!important;
}

.glitch {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
  


/* .awssld__content {
    align-items: unset!important;
    position: unset!important; 
    width: unset!important;
    height: unset!important;
    top: unset!important;
    left: unset!important;
}

.awssld--organic-arrows {
    display: unset!important;
}

.awssld__content {
    background-color: transparent!important;
} */
/* .bar-title:after {
    content: '';
    position: absolute;
    width: 140%;
    height: 10.1%;
    top: 15px;
    right: 35%;
    background: #242224;
    transform-origin: 54% 0;
    transform: rotate(313deg);
    z-index: 0;
} */


.faq-row-wrapper {
    padding-left: 55px;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY .styles_icon-wrapper__2cftw{
    top: 25px!important;
    transition: all var(--transition-duration, 0.3s)!important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_expanding__2OAFB .styles_icon-wrapper__2cftw {
    top: 25px!important;
    transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)!important;
    transform-style: preserve-3d;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_expanded__3elPy .styles_icon-wrapper__2cftw {
    top: 25px!important;
    transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)!important;
    transform-style: preserve-3d;
}

.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    border-bottom: 1px solid #2c2c2c!important;
    padding: 15px 0!important;
    /* top: 25px!important; */
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-content__QOGZd .styles_row-content-text__2sgAB {
    line-height: 1.5!important;
}
.arrow-image {
    top: 25px!important;
}