.card-to-rotate {
    background: url('../assets/tugoune.png');
    width: 300px;
    height: 354px;
    animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein;
    transform-style: preserve-3d;
    transform: rotateZ(8deg);
    position: absolute;
    margin-left: 780px;
    margin-top: 30px;
}

.card-to-rotate2 {
    background: url('../assets/tugoune.png');
    width: 300px;
    height: 354px;
    animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein2;
    transform-style: preserve-3d;
    transform: rotateZ(-8deg) skew(0deg, 0deg);
    position: absolute;
    margin-left: 630px;
    margin-top: 80px;
}

.text-paragraph2 {
    color: #fff;
    font-size: 19px;
    font-family: "Poppins";
    padding-left: 28px;
    padding-top: 20px;
    padding-right: 68px;
    height: auto;
    margin: auto 0;
    width: fit-content;
    line-height: 1.4;

}

/* MOBILE */
@media screen and (max-width: 900px) {
    .card-to-rotate {
        background: url('../assets/tugoune.png');
        width: 200px;
        height: 245px;
        background-size: cover;
        animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein;
        transform-style: preserve-3d;
        transform: rotateZ(8deg);
        position: absolute;
        margin-left: 30vw;
        margin-top: 30px;
        z-index: 0;
    }
    
    .card-to-rotate2 {
        background: url('../assets/tugoune.png');
        width: 200px;
        height: 245px;
        background-size: cover;
        animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein2;
        transform-style: preserve-3d;
        transform: rotateZ(-8deg) skew(0deg, 0deg);
        position: absolute;
        margin-left: 20vw;
        z-index: 0;
    }

    .toppixel {
        background: url('../assets/mobile_minipixeltopleft.png');
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-left: 20px;
        margin-top: 20px;
    }

    .botpixel {
        background: url('../assets/mobile_minipixelbotright.png');
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-left: auto; 
        margin-right: 30px;
    }
    .bar-mid-top-mobile {
        background: url("../assets/up_middle.png");
        width: 100%;
        height: auto;
    }
    .text-title {
        color: #d4c5a8;
        font-size: 23px;
        font-family: "Brandon";
        padding-top: 10px;
        padding-left: 0px;
        height: auto;
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
    }

    .bar-title2 {
        background: url("../assets/fondtitle.png");
        background-size: cover;
        width: 85vw;
        height: 59px;
        position: relative;
        margin: auto;
    }

    .bar-mid {
        background: none;
        width: 100%;
        height: auto;
        position: relative;
        margin: auto;
    }

    .text-paragraph2 {
        padding: 5px 50px!important;
    }
}
@-webkit-keyframes slidein { from { will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;} to {  will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; }  }
        @keyframes slidein {from { transform: translate3d(0px, 0px, 0px) rotateY(0deg) rotateX(0deg)  rotateZ(8deg); } to { transform: translate3d(5px, 35px, 0px) rotateY(-35deg) rotateX(0deg)  rotateZ(8deg);}}

        @-webkit-keyframes slidein2 { from { will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;} to {  will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; }  }
        @keyframes slidein2 {from { transform: translate3d(5px, 35px, 0px) rotateY(0deg) rotateX(0deg)  rotateZ(-8deg); } to { transform: translate3d(0px, 0px, 0px) rotateY(-35deg) rotateX(0deg)  rotateZ(0deg);}}