.card-to-rotate {
    background: url('../assets/tugoune.png');
    width: 300px;
    height: 354px;
    animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein;
    transform-style: preserve-3d;
    transform: rotateZ(8deg);
    position: absolute;
    margin-left: 800px;
    margin-top: 30px;
}

.card-to-rotate2 {
    background: url('../assets/tugoune.png');
    width: 300px;
    height: 354px;
    animation: 2s cubic-bezier(0.79, 0.01, 0.34, 0.99) infinite alternate-reverse slidein2;
    transform-style: preserve-3d;
    transform: rotateZ(-8deg) skew(0deg, 0deg);
    position: absolute;
    margin-left: 650px;
    margin-top: 80px;
}

@-webkit-keyframes slidein { from { will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;} to {  will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; }  }
        @keyframes slidein {from { transform: translate3d(0px, 0px, 0px) rotateY(0deg) rotateX(0deg)  rotateZ(8deg); } to { transform: translate3d(5px, 35px, 0px) rotateY(-35deg) rotateX(0deg)  rotateZ(8deg);}}

        @-webkit-keyframes slidein2 { from { will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;} to {  will-change: transform; transform: translate3d(0.0027px, 0.0021px, 0px) scale3d(1, 1, 1) rotateX(-0.0021deg) rotateY(0.0027deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; }  }
        @keyframes slidein2 {from { transform: translate3d(5px, 35px, 0px) rotateY(0deg) rotateX(0deg)  rotateZ(-8deg); } to { transform: translate3d(0px, 0px, 0px) rotateY(-35deg) rotateX(0deg)  rotateZ(0deg);}}