.progress-empty {
    background: url('../assets/vide_bar.png');
    width: 100px;
    height: 1005px;
    margin-top: 26px;
    margin-left: 20px;
    position: absolute;
}

.progress-full {
    background: url('../assets/full_bar.png');
    width: 100px;
    height: 1005px;
    margin-top: 26px;
    margin-left: 20px;
    position: relative;
    /* transition: all 0.2s cubic-bezier(0.45, -0.24, 0.6, 1.37); */
}

.phase-count {
    color: #fff;
    font-size: 22px;
    padding-top: 180px;
    padding-left: 55px;
}

.carton {
    background: url('../assets/carton.png');
    width: 774px;
    height: 163px;
    margin-top: 46px;
    margin-left: 20px;
    position: relative;
}

.title-description {
    padding-left: 155px;
    padding-top: 20px;
    font-size: 38px;
    color: #3c0614;
}
.contenu-description {
    padding-left: 155px;
    font-size: 18px;
    color: white;
    font-family: 'Din';
}