@font-face {
  font-family: "Eveleth";
  src: url("./assets/Eveleth\ Clean\ Regular.otf");
}

@font-face {
  font-family: "Brandon";
  src: url("./assets/brandon-grotesque-black-58a8a3e824392.otf");
}

@font-face {
  font-family: "LouisGeorge";
  src: url("./assets/Louis\ George\ Cafe.ttf");
}

@font-face {
  font-family: "LouisGeorgeBold";
  src: url("./assets/Louis\ George\ Cafe\ Bold.ttf");
}
.App {
  /* background: url("./assets/fondsale.png"), #242426; */
  height: 100vh;
}
html {
  background: url("./assets/fondsale.png"), #242426;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: "Brandon";
}

div {
  font-family: "Brandon";
}